// 1. Cargamos tu arquitectura PRIMERO (para evitar el error)
@use "../styles/variables" as vars;
@use "../styles/utils/mixins" as mx;
@use "../styles/base/reset";
@use "../styles/layout/global-layout";
@use "../styles/layout/header";
@use "../styles/pages/home";
@use "../styles/components/avatar";
@use "../styles/pages/login";
@use "../styles/pages/profile";
@use "../styles/pages/playlist";
@use "../styles/pages/lyrics-editor";

// 2. Utilidades finales
.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
